body {
    background-color: #705757;
}
a{
    margin-top: 30px;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 999px;
    color: rgb(32, 10, 10);
    width: 100px;padding: 8px 16px;
    text-align: center;
    display: inline-block;
}
a:hover{
    background-color: rgb(32, 10, 10);;
    color: #ffffff;

}